services:
  slay-app:
    image: ghcr.io/deniskutovskiy/slay:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped
    container_name: slay-simulator
